

.player 
    width: 100%
    position: fixed
    bottom: 0
    z-index: 9999
    
    .resume-btn
        text-decoration: none
        cursor: pointer
        display: inline-block
        height: auto
        border: none
        vertical-align: middle
        border: none
        color: inherit
        background-color: transparent