

header 
    .row
        height: 100px
        display: flex
        align-items: center


        .logo-container
            display: flex
            align-items: center
            height: auto

            img
                display: inline
                width: 50px 
                margin: 0 20px

            h1
                display: inline
                margin: 0
                font-size: 20px

            .line
                height: 2px
                background: rgba(0, 0, 0, 0.4) 
                width: 100%
                border: 5px

        button
            border: none